body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.grey-container {
    overflow:auto;
    margin:0px;
    background-image: url("images/header_bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 600px;
    font-family: 'Open Sans', sans-serif;
}

.relaxrhd {
    margin: 0 0 0 60px;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.getit {
    margin: 100px auto 0 auto;
    text-align: center;
    font-size:24px;
    font-weight: 600;
    color: white;
}

.buttonyello{
    margin:100px auto 0 auto;
    height:30px;
    width: 150px;
    text-align: center;
    font-size:14px;
    font-weight: 800;
    color: #121212;
    background-color: yellow;
    padding-top:12px;
    border-radius: 5px;
    }

.white-container{
    overflow:auto;
    height: 350px;
    width:100%;
    background-color:#f0efef;
    font-family: 'Open Sans', sans-serif;
}

.benefits{
    margin: 50px 0 0 60px;
    font-size:20px;
    font-weight:600; 
    color:#121212;
}

.para-style{    
    width: 40%;
    margin:30px 0 0 60px;
    font-size: 13px;
    font-weight:300;
    color:#606161;
}

.list{
    width: 40%;
    margin:30px 0 0 80px;
    font-size: 13px;
    font-weight:300;
    color:#606161;
}

.ocean{
    overflow: auto;
    margin: 0px;    
    height: 300px;
    width:100%;
    background-image: url("images/testimonial_bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.quote{
    width:30%;
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight:300;
    font-style:italic;
    color: white;
}

.amanda{
    width:30%;
    margin: 30px auto 0 auto;
    font-size: 18px;
    font-weight:600;
    color: white;
    text-align: center;
}

.yellow-container{
    overflow:auto;
    margin:0;
    width:100%;
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
   }

.signbutton{
    margin:15px auto 15px auto;
    width:150px;
    height:30px;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
    font-size:12px;
    color: white;
    background-color:rgb(41,50,62);
    padding-top: 10px;
}

.bottom-container{
    overflow:auto;
    height: 200px;
    width:100%;
    background-color: rgb(34,32,28);
    font-family: 'Open Sans', sans-serif;
}

.relaxryello{
    height:30px;
    width:400px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: yellow;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}

#socialmediabox{
    text-align:center;
}

.twitlogo{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-right:10px;
    height:30px;
}

.fblogo{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    height:30px;  
}

.copyright{
    margin: 0 auto;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    color:white;
    padding-left: 25px;
    padding-top: 40px;
}

.header-blog {
    overflow: auto;
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color: #033048;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    margin: 0 100px 0 60px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navilink {
    font-size: 24px;
    font-weight: 600;
    color: #f9e42e;
    text-decoration: none;
}

.body-blog {
    overflow: auto;
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: #f0efef;
    display: flex;
    justify-content: center;
}

.maincolumn {
    overflow: auto;
    margin: 20px 80px 80px 60px;
    width: 700px;
    height: auto;
}

.sidebar {
    overflow: auto;
    margin: 20px 60px 80px 20px;
    width: 240px;
    height: auto;
}

.article {
    border-bottom: 1px solid #606161;
    padding: 20px;
}

.articletitle {
    font-size: 40px;
    font-weight: 600;
    color: #033048;
}

.articlecontent {
    font-size: 24px;
    font-weight: 300;
    color: #606161;
}

.articlelink {
    font-size: 24px;
    font-weight: 600;
    color: #033048;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.sidebarheading {
    font-size: 32px;
    font-weight: 800;
    color: #033048;
    margin-bottom: 20px;
}

.categorylinks {
    font-size: 24px;
    font-weight: 300;
    color: #033048;
    display: flex;
    align-items: flex-start;
    text-decoration: none;   
}

.abouttext {
    font-size: 22px;
    font-weight: 300;
    color: #033048;
    margin: 0;
}

.learn {
    font-size: 22px;
    font-weight: 600;   
    color: #033048;
}

.adunit {
    margin-top: 80px;
}
